NerualNetwork/DeepLearningCoursera/SequenceModels/Emojify/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
NerualNetwork/DeepLearningCoursera/SequenceModels/WordVectorRepresentation/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
